*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    
}

/* Estilos para Computadora 1200px*/

/* Navegador e hipervinculos */
li{
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

body{
    padding: 0.83% 8.33%;
    background-color: rgb(241, 241, 230);
}


/* HEADER */

header{
    background-color: rgb(161, 148, 140);
    border-radius: 20px 20px 0px 0px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.secciones_header_derecha{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.secciones_header_izquierda{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.ul_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.ir_form{
    justify-content: end;
}

.ul_ir_form{
    padding-right: 13.55%;
}

#logo{
    width: 80px;
}

.a_header{
    color: white;
}

.buscar{
    margin-left: 20px;
    border-radius: 5px;
}

.logout a{
    color: white;
}

.logout{
    color: #ffffff;
}

/* GENERAL DE MAIN */

main{
    background-color: #F7F5F2;
    display: flex;
    flex-wrap: wrap;
}

.seccion_cuerpo{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seccion_gral_productos{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

img{
    width: 150px;
}

.article_productos{
    height: 450px;
    width: 270px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding-left: 3.80%;
    padding-right: 3.80%;
    margin: 0px 6px;
}

.titulo{
    width: 100%;
}

h2{
    font-weight: bold;
    color: #2F393B; 
    margin-top: 20px;
    margin-bottom: 20px;  
    margin-left: 3%; 
}

h4{
    font-weight: bold;
    color: #2F393B;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.precio{
    color:  rgb(0, 0, 0);;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}

.descrip_prod{
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 12px;
}

.verDetalle{
    color: white;
    background-color:  rgb(169, 177, 160);;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px;
}


.img_detalle{
    width: 350px;
}

.seccion_detalle{
    width: 100%;
}

.seccion_comentarios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.img_product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.art_subt{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
}

.art_desc_product{
    padding: 30px;
}

.subt_product{
    font-weight: bold;
    color: #2F393B;
    font-size: 20px;
    margin-right: 15px;
}

.p_product{
    margin: 23px 0px;
}

h3{
    font-weight: bold;
    color: #2F393B;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;  
    margin-left: 3%; 
}

.art_comentarios{
    width: 30%;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    height: 220px;
    margin-bottom: 20px;

}

/* ASIDE */

#categorias{
    margin-top: 0px;
    font-weight: bolder;
    color: #2F393B;
    margin-bottom: 27px;
}

aside{
    padding: 2.03%;
    width: 30%;
    background-color: rgb(255, 255, 255);
}

.a_aside{
    color: rgb(51, 51, 51);
    font-weight: normal;
}

.li_aside{
    margin-bottom: 14px;
    margin-left: 2.45%;
    margin-right: 2.45%;
}

.ulAside{
    padding-left: 16.2%;
    margin-top: 23px;
    margin-bottom: 23px;
}

/* FOOTER */

footer{
    background-color:rgb(161, 148, 140);
    border-radius: 0px 0px 20px 20px;
}

.seccion_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.p_footer{
    color: white;
    font-weight: bold;
    margin-top: 21px;
    margin-bottom: 21px;
}


/* GENERAL DE LOGIN */

.seccionlogin {
  display: flex;
  flex-wrap: wrap;
  align-items: center;    
  justify-content: center; 
  width: 70%;
  height: 800px;
}

.fondologin{
  border: 2px solid #ddd; 
  border-radius: 8px;
  padding: 40px;
  background-color: rgb(169, 177, 160);
}

.boton{
    color: #ffffff;
}

button{
    color: white;
    background-color:  rgb(51, 51, 51);
    border-radius: 5px;
}

div{
    width: 100%;
}

input{
    width: 100%;
}

.textooculto{
    display: none;
}

.textooculto2{
    display: none;
}

#acepto{
    width: auto;
}

.pOculto{
    color: red;
}


/* Buscador */

.buscar{
    width: auto;
}


/* Estilos para Tablet 820px*/

@media (max-width:820px) {
    .seccion_gral_productos{
        justify-content: center;
    }

    .seccion_cuerpo{
        justify-content: center;
    }

    .art_comentarios{
        width: 45%;
        height: 260px;
    }

    .img_detalle{
        width: 200px;
    }

    .ul_header{
        margin-bottom: 20px;
        margin-top: 10px;
        padding-left: 10px;
    }

    .secciones_header_izquierda{
        width: 100%;
    }

    .secciones_header_derecha{
        width: 100%;
    }

   

}


/* Estilos para Celular 600px*/

@media (max-width:600px) {
    body{
        padding: 10px ;
    }

    #logo{
        width: 50px;
    }

    aside{
        width: 100%;
    }

    .seccion_cuerpo{
        width: 100%;
    }

    aside{
        order: 2;
    }

    .seccionlogin{
        width: 100%;
    }

    .p_footer{
        margin-top: 10px;
        margin-bottom: 10px;
    }

}