*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    
}

/* Estilos para Computadora 1200px*/

/* Navegador e hipervinculos */
li{
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

body{
    padding: 0.83% 8.33%;
    background-color: rgb(241, 241, 230);
}


/* HEADER */

header{
    background-color: rgb(161, 148, 140);
    border-radius: 20px 20px 0px 0px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.secciones_header{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.ul_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 7.53%;
    margin-bottom: 7.53%;
    padding-left: 18.75%;
}

.ir_form{
    justify-content: end;
}

.ul_ir_form{
    padding-right: 13.55%;
}

#logo{
    width: 80px;
}

.a_header{
    color: white;
}



/* GENERAL DE MAIN */

main{
    background-color: #F7F5F2;
    display: flex;
    flex-wrap: wrap;
}

.seccion_cuerpo{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.seccion_gral_productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7.26%;
}

img{
    width: 59.2%;
}

.article_productos{
    height: 450px;
    width: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding-left: 3.80%;
    padding-right: 3.80%;
}

.titulo{
    width: 100%;
}

h2{
    font-weight: bold;
    color: #2F393B; 
    margin-top: 3%;
    margin-bottom: 3%;  
    margin-left: 3%; 
}

h4{
    font-weight: bold;
    color: #2F393B;
    margin-top: 7.80%;
    margin-bottom: 7.80%;
}

.precio{
    color:  rgb(0, 0, 0);;
    font-weight: bold;
    margin-bottom: 5.95%;
    margin-top: 5.95%;
}

.descrip_prod{
    text-align: center;
    margin-bottom: 5.95%;
    margin-top: 5.95%;
}

.verDetalle{
    color: white;
    background-color:  rgb(169, 177, 160);;
    padding: 3.70%;
    border-radius: 5px;
}




.img_detalle{
    width: 350px;
}

.seccion_detalle{
    width: 100%;
}

.seccion_comentarios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.img_product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.art_subt{
    display: flex;
    flex-wrap: wrap;
}

.art_desc_product{
    padding: 30px;
}

.subt_product{
    font-weight: bold;
    color: #2F393B;
    font-size: 20px;
    margin-right: 15px;
}

.p_product{
    margin: 23px 0px;
}

h3{
    font-weight: bolder;
    color: #2F393B;
}

.art_comentarios{
    width: 30%;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    height: 220px;
    margin-bottom: 20px;

}







/* ASIDE */

#categorias{
    margin-top: 0px;
    font-weight: bolder;
    color: #2F393B;
    margin-bottom: 7.5%;
}

aside{
    padding: 2.03%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    height: 850px;
}

.a_aside{
    color: rgb(51, 51, 51);
    font-weight: normal;
}

.li_aside{
    margin-bottom: 3.92%;
    margin-left: 2.45%;
    margin-right: 2.45%;
}

.ulAside{
    padding-left: 16.2%;
    margin-top: 6.5%;
    margin-bottom: 6.5%;
}


/* FOOTER */

footer{
    background-color:rgb(161, 148, 140);
    border-radius: 0px 0px 20px 20px;
}

.seccion_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.p_footer{
    color: white;
    font-weight: bold;
    margin-top: 1.77%;
    margin-bottom: 1.77%;
}


/* GENERAL DE LOGIN */

.seccionlogin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  width: 70%;
}

.fondologin{
  border: 2px solid #ddd; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  background-color: rgb(169, 177, 160);
  line-height: 30px;
}

.boton{
    color: #ffffff;
}


/* Estilos para Tablet 768px*/

@media (max-width:768px) {



}


/* Estilos para Celular 420px*/

@media (max-width:420px) {


    
}