*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    
}

/* Navegador e hipervinculos */
li{
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

body{
    padding: 10px 100px;
}


/* HEADER */

header{
    background-color: rgb(255, 114, 20);
    border-radius: 20px 20px 0px 0px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.secciones_header{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.ul_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ir_form{
    justify-content: end;
}

.ul_ir_form{
    padding-right: 40px;
}

#logo{
    width: 80px;
}

.a_header{
    color: white;
}



/* GENERAL DE MAIN */

main{
    background-color: #F7F5F2;
    display: flex;
    flex-wrap: wrap;
}

.seccion_cuerpo{
    width: 70%;
    
}

.seccion_gral_productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

img{
    width: 150px;
}

.article_productos{
    height: 450px;
    width: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding-left: 25px;
    padding-right: 25px;
}

.titulo{
    width: 100%;
}

h2{
    font-weight: bold;
    color: #2F393B;    
}

h4{
    font-weight: bold;
    color: #2F393B;
}

.precio{
    color: rgb(255, 114, 20);
    font-weight: bold;
}

.descrip_prod{
    text-align: center;
}

.verDetalle{
    color: white;
    background-color: rgb(255, 114, 20);
    padding: 10px;
    border-radius: 5px;
}




.img_detalle{
    width: 350px;
}

.seccion_detalle{
    width: 100%;
}

.seccion_comentarios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.img_product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.art_subt{
    display: flex;
    flex-wrap: wrap;
}

.art_desc_product{
    padding: 30px;
}

.subt_product{
    font-weight: bold;
    color: #2F393B;
    font-size: 20px;
    margin-right: 15px;
}

.p_product{
    margin: 23px 0px;
}

h3{
    font-weight: bolder;
    color: #2F393B;
}

.art_comentarios{
    width: 30%;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    height: 220px;
    margin-bottom: 20px;

}







/* ASIDE */

#categorias{
    margin-top: 0px;
    font-weight: bolder;
    color: #2F393B;
}

aside{
    padding: 20px;
    width: 30%;
}

.a_aside{
    color: rgb(255, 114, 20);
    font-weight: normal;
}

.li_aside{
    margin-bottom: 10px;
}



/* FOOTER */

footer{
    background-color: #2F393B;
    border-radius: 0px 0px 20px 20px;
}

.seccion_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.p_footer{
    color: white;
    font-weight: bold;
}